<!DOCTYPE html>
<html>
<head>

 <title>Listar Sensores</title>
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</head>

<body class="container" background = "#47aa4a">
	<div>
    <h1 class="form-group text-center">Listar Sensores</h1>
    <div>
      {% for sensor in sensores %}
        <div class="jumbotron">
        <p>{{sensor.fecha}}</p>
        <p>{{sensor.origen}}</p>
        <p>{{sensor.valor}}</p>
        <p>{{sensor.dato}}</p>
        <p>{{sensor.codigoSensor}}</p>
        <p>{{sensor.observacion}}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>
